* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #1f31649c;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.area-tabela {
    width: 200px;
}


.tabela {
    width: 100%;
    height: 100%;
    display: flex;
    border-style: solid;
    border-color: #333;
    border-width: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

}

.container {
    width: 40%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(127, 255, 212, 0.664);
    align-items: center;
    justify-content: space-evenly;
}

.titulo-2 {
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}

#minutos {
    width: 40%;
}